@(mapInfo : Html)
@doctype.render
<html>
    <head>
        <title>Leaflet Demo</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/assets/lib/leaflet/dist/leaflet.css">
        <script src="/assets/lib/leaflet/dist/leaflet.js"></script>
    </head>
    <body>
        <div id="mapid" style="width: 600px; height: 400px;"></div>
        <script id="map" type="text/javascript" src="/assets/javascripts/waterfallsmap.js" data-mapInfo='@mapInfo'></script>
    </body>
</html>
