@(message : String)
@doctype.render
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Login</title>
    </head>
    <body>
        <form method="post">
            @helper.CSRF.formField
            <input type="text" name="username" placeholder="Username">
            <input type="password" name="password" placeholder="Password">
            <input type="submit" value="Login">
            <p>@message</p>
        </form>
        <form method="get" action="/useradd">
            <input type="submit" value="Create Account">
        </form>
    </body>
