@(user : UserAccount, completedWaterfalls : List[CompletedWaterfallDetail], isLoggedIn : Boolean)
@doctype.render
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>User Details</title>
        @bootstrap.render
        <link rel="stylesheet" href="/assets/lib/leaflet/dist/leaflet.css">
        <script src="/assets/lib/leaflet/dist/leaflet.js"></script>
    </head>
    <body class="bg-white">
        @navbar.render(isLoggedIn, user.getUserAccountId)
        <img src="/assets/images/HawCreekCover.jpg" width="100%">
        <div class="container bg-light">
            <table class="table table-bordered table-striped table-dark mt-4">
                <thead class="bg-secondary">
                    <tr>
                        <th scope="col">Username</th>
                        <th scope="col">Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@user.getUsername</td>
                        <td>@user.getUserFirstName @user.getUserLastName</td>
                    </tr>
                </tbody>
            </table>
            <h1 class="text-center display-5"><strong>Reviews</strong></h1>
            <table class="table table-bordered table-striped table-dark">
                <thead class="bg-secondary">
                    <tr>
                        <th scope="col">Waterfall Name</th>
                        <th scope="col">Rating</th>
                        <th scope="col">Comments</th>
                    </tr>
                </thead>
                <tbody>
                    @for(completedWaterfall<-completedWaterfalls){
                    <tr>
                        <td><a href="/waterfall/@completedWaterfall.getWaterfallId">@completedWaterfall.getWaterfallName</a> </td>
                        <td>@completedWaterfall.getRanking</td>
                        <td>@completedWaterfall.getComment</td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
        <img src="/assets/images/HawCreekCover.jpg" width="100%">
    </body>
</html>