@doctype.render
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <titleName>Account Creation</titleName>
    </head>
    <body>
        <form method="post">
            <p>Adding Employee</p>
            @helper.CSRF.formField
            <input type="text" name="firstName" placeholder="First Name">
            <input type="text" name="lastName" placeholder="Last Name">
            <input type="text" name="username" placeholder="Username">
            <input type="text" name="password" placeholder="Password">
            <input type="submit" value="Save">
        </form>
    </body>
</html>