@(waterfalls : List[Waterfall], isLoggedIn : Boolean)
@doctype.render
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <titleName>Waterfall Search</titleName>
    </head>
    <body>
        <form>
            <label for="name">Name</label>
            <input type="text" name="name" id="name">
            <input type="submit" value="Search">
        </form>
        <table>
            <tr>
                <th>Name</th>
                <th>Height</th>
                <th>Location</th>
                <th>GPS Required</th>
                <th>Description</th>
            </tr>
            @for(waterfall<-waterfalls){
            <tr>
                <td><a href="/waterfall/@waterfall.getWaterfallId">@waterfall.getWaterfallName</a></td>
                <td>@waterfall.getHeight</td>
                <td>@waterfall.getFallLatitude, @waterfall.getFallLongitude</td>
                <td>@waterfall.isGPSRequired</td>
                <td>@waterfall.getDescription</td>
            </tr>
            }
        </table>
    </body>
</html>