@(waterfalls : List[Waterfall], isLoggedIn : Boolean, loggedInUser : Integer)
@doctype.render
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Browse</title>
        @bootstrap.render
    </head>
    <body>
        @navbar.render(isLoggedIn, loggedInUser)
        <img src="/assets/images/HawCreekCover.jpg" width="100%">
        <div class="container bg-light">
            @for(waterfall<-waterfalls){
            <div class="row justify-content-center mt-4">
                <div class="col-4">
                    <img src="/waterfallpicture/@waterfall.getWaterfallId" width="200" height="200" class="mb-4">
                </div>
                <div class="col-8">
                    <a class="text-primary">@waterfall.getWaterfallName</a>
                    <p>@waterfall.getDescription</p>
                    <a class="btn btn-primary btn-md" href="/waterfall/@waterfall.getWaterfallId" role="button">Learn
                        More</a>
                </div>
            </div>
            }
        </div>
        <img src="/assets/images/HawCreekCover.jpg" width="100%">
    </body>
</html>