@(waterfall : Waterfall, reviews : List[CompletedWaterfallDetail], isLoggedIn : Boolean, loggedInUser : Integer, canReview : Boolean)
@doctype.render
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Waterfall</title>
        @bootstrap.render
        <link rel="stylesheet" href="/assets/lib/leaflet/dist/leaflet.css">
        <script src="/assets/lib/leaflet/dist/leaflet.js"></script>
    </head>
    <body class="bg-light">
        @navbar.render(isLoggedIn, loggedInUser)
        <div class="container">
            <h1 class="text-center display-3"><strong>@waterfall.getWaterfallName</strong></h1>
            <table class="table  table-dark">
                <thead class="bg-secondary">
                    <tr>
                        <th scope="col">Height(ft)</th>
                        <th scope="col">Coordinates(Latitude, Longitude)</th>
                        <th scope="col">GPS Required</th>
                        <th scope="col">Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@waterfall.getHeight</td>
                        <td>@waterfall.getFallLatitude, @waterfall.getFallLongitude</td>
                        <td>@waterfall.isGPSRequired</td>
                        <td>@waterfall.getDescription</td>
                    </tr>
                </tbody>
            </table>
            <td><a href="/waterfallpicture/@waterfall.getWaterfallId"><img src="/waterfallpicture/@waterfall.getWaterfallId" width="200" height="200"></a></td>
            <h1 class="text-center display-5"><strong>Reviews</strong></h1>
            <table class="table table-bordered table-striped table-dark">
                <thead class="bg-secondary">
                    <tr>
                        <th scope="col">Author</th>
                        <th scope="col">Rating</th>
                        <th scope="col">Comments</th>
                    </tr>
                </thead>
                <tbody>
                    @for(review<-reviews){
                    <tr>
                        <td>@review.getUsername</td>
                        <td>@review.getRanking</td>
                        <td>@review.getComment</td>
                    </tr>
                    }
                </tbody>
            </table>
            @if(canReview){
            <form method="get" action="/commentadd">
                <input type="submit" value="Review This Waterfall">
                <input type="hidden" name="waterfallId" value="@waterfall.getWaterfallId">
            </form>
            }
        </div>
        <div id="mapid" style="width: 600px; height: 400px;"></div>
        <script id="map" type="text/javascript" src="/assets/javascripts/waterfallmap.js" data-lat="@waterfall.getFallLatitude" data-long="@waterfall.getFallLongitude"></script>
        <form action="/waterfallsinrange">
            <label for="distance">Enter distance in miles to show waterfalls in the area</label>
            <input type="number" name="distance" id="distance">
            <input type="hidden" name="id" value="@waterfall.getWaterfallId">
            <input type="submit" value="Search">
        </form>
    </body>
</html>